<!-- partials home-nav -->
<div class="intro-content">
  <div class="container-fluid">
    <div class="row">
      <div class="column col-xs-6 col-xs-portrait-12 col-md-7 home-feature chimney-image">
        <div class="title-container-outer">
          <div class="title-container">
            <h1 class="title"><i class="fa fa-leaf"></i> Highfield Country Park</h1>
          </div>
        </div>
      </div>
      <div class="column grid-gallery col-xs-6 col-xs-portrait-12 col-md-5">
        <div class="row">
          <nav class="grid-nav">
            <div class="col-xs-6">
              <div class="path1-image grid-square">
                <a href="{{ site.baseurl }}/news"><span>News</span></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="path2-image grid-square">
                <a href="{{ site.baseurl }}/about"><span>About</span></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="path3-image grid-square">
                  <a href="{{ site.baseurl }}/map"><span>Map</span></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="path4-image grid-square">
                <a href="{{ site.baseurl }}/volunteer"><span>Volunteer</span></a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <!--
        disabled: include CTA
      -->
    </div>
  </div>
</div>
<!-- end of partials home-nav  -->
