<!-- partials/linear-nav.twig -->
<div class="intro-content">
  <div class="container-fluid">
    <div class="row">
      <nav class="linear-nav">
        <div class="linear-nav-image col-xs-12 col-sm-4 chimney-image home">
            <h3><a href="index.html" class="title-link">
            <i class="fa fa-leaf title-icon"></i> Highfield Country Park</a></h3>
        </div>
        <div class="col-xs-3 col-sm-2 linear-nav-image path1-image">
          <a href="news-and-events.html"><div>News</div></a>
        </div>
        <div class="col-xs-3 col-sm-2 linear-nav-image path2-image">
          <a href="/about"><div>About</div></a>
        </div>
        <div class="col-xs-3 col-sm-2 linear-nav-image path3-image">
            <a href="/map"><div>Map</div></a>
        </div>
        <div class="col-xs-3 col-sm-2 linear-nav-image path4-image">
          <a href="/volunteer" ><div>Volunteer</div></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- end of partials/linear-nav.twig -->
