
html {
  background-color:$colour_html_bg;
}

body {
  background: transparent;
}

body .text-content-outer-container {
  background-color:$colour_white;
}

.intro-content {
  background-color: $colour_main;
}

.chimney-image {
  background: $colour_offwhite url("../images/factoryandpark.jpg") center top/cover no-repeat;
}

.path1-image::before, .path1-image::after {
  background-image: url("../images/lg/path1.jpg");
}

.path2-image::before, .path2-image::after {
  background-image: url("../images/lg/path2.jpg");
}

.path3-image::before, .path3-image::after {
  background-image: url("../images/lg/path3.jpg");
}

.path4-image::before, .path4-image::after {
  background-image: url("../images/lg/path4.jpg");
}

/*
 * Linear nav classes
 *
 */

.linear-nav .linear-nav-image.chimney-image {
  background-image: none;

  @media (min-width: $screen-sm) {
    background: $colour_offwhite url("../images/factoryandpark.jpg") center top/cover no-repeat;
    background-position: center bottom;

    a {
      background-color: transparent;
    }
  }
}

.linear-nav-image.path1-image {
  background-image: url("../images/xs/linear-nav1.jpg");

  @media (min-width: $screen-sm) {
    background-image: url("../images/lg/path1.jpg");
  }
}

.linear-nav-image.path2-image {
  background-image: url("../images/xs/linear-nav2.jpg");

  @media (min-width: $screen-sm) {
    background-image: url("../images/lg/path2.jpg");
  }
}

.linear-nav-image.path3-image {
  background-image: url("../images/xs/linear-nav3.jpg");

  @media (min-width: $screen-sm) {
    background-image: url("../images/lg/path3.jpg");
  }
}

.linear-nav-image.path4-image {
  background-image: url("../images/xs/linear-nav4.jpg");

  @media (min-width: $screen-sm) {
    background-image: url("../images/lg/path4.jpg");
  }
}


.grid-square {
  overflow: hidden;

  &::before {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    background-position: bottom center;
    @media (min-width: $screen-md) {
      filter: grayscale(55%);
    }

    // used to solve 1px border issue
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  &::after {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:$grid_nav_blur_height;
    content:"";
    background-position: bottom center;
    filter:brightness(80%) grayscale(55%);
  }
}


@media (min-width: $screen-md) {

  .grid-square:hover::before {
    filter: grayscale(0%);
    transition: $general_transition;
  }
}

html {
  background-color: $colour_main;
  background-image: url("../images/foggy-birds.png");
  background-attachment: fixed;
}
