
@import "_variables.scss";

nav.grid-nav {

  .grid-square {
    position: relative;
    margin:0 -15px; /* expand back to edges of column */
  }

  a {
    position: absolute;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
    color:$colour_white;
    text-align: center;
    font-weight:800;
    font-size:$grid_nav_font_size;
    line-height: $grid_nav_font_size;

    span {
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      padding-bottom:$padding_grid_nav_text;
    }

    &:hover span {
      text-decoration: underline;
    }
  }
}

/* secondary pages nav */
.linear-nav {
  height:$linear_nav_height;

  .home {
    background-color: $colour-white;
  }

  .linear-nav-image {
    position:relative;
    height:$linear_nav_height;

    a {
      position:absolute;
      left:0;
      right:0;
      display:block;
      height:100%;
      width:100%;
      background-color: $linear_nav_bg_tint;
      color:$linear_nav_text_colour;
      font-weight:$font_weight_bold;
      font-size: $font-size-base;
      text-align:center;

      div {
        display:block;
        padding:$padding-base-vertical*2 $padding-base-horizontal;

        @media (min-width: $screen-sm) {
          padding-top:$padding-base-vertical*4;
        }
      }
    }
    &.home a {
      /* on mobile site name runs across 12 cols so need a bigger font */
      @media (max-width: $screen-xs-max) {
          position:static;
          background-color: transparent;
          color:$colour_main;
          font-size: $font-size-h3;
          margin-top: $padding-base-vertical*2;
          text-decoration: none;
          text-shadow: none;
      }
      /* home nav item flows across below 400px so need to reduce font size */
      @media (max-width: 400px) {
        margin-top: $padding-base-vertical*6;
        font-size: $font-size-h4;
      }
      /* on tablet + we have the site name in a column so want a smaller font */
      @media (min-width: $screen-sm-min) {
        font-size: $font-size-base;
      }
    }
  }
}

footer {
  padding-top:$padding-base-vertical*4;
  background-color:transparent;
  /* colour set in html element
   * this results in the colour continuing off the page */

  .nav {
    padding-top:$padding-base-vertical*4;
    & > li > a {
      color:$footer_font_colour;
      text-align:center;

      &:hover {
        background-color: transparent;
        text-shadow: 0 0 10px $footer_hover_bg;
      }
    }
  }

  .social-nav {
    text-align:center;

    li {
      padding:$padding_footer_social_top 0 $padding-base-vertical*4;
      display:inline-block;

      a {

        color:$social_nav_colour;
        font-size: $social_nav_size;
        font-weight: 800;

        &:hover {
          background-color: transparent;
          text-shadow: none;
          color:$social_nav_colour_hover;
        }
      }
    }
  }
}

