
@import "../vendor/bootstrap/bootstrap-custom";

// palette based on http://www.colourlovers.com/palette/680350/earthy

$colour_white: #FFF;
$colour_offwhite: #EFEFEF;
$colour_beige: #CFB590;

$colour_main_light: #9E9A41;
$colour_main: #758918;
$colour_main_dark: #3B3717;
$colour_second_light: #564334;
$colour_second: #49281F;

$html_background_colour: $colour_main;
$colour_html_bg: $colour_main;
$colour_category: $colour_main;
$footer_font_colour: $colour_white;
$social_nav_colour: $colour_second;
$social_nav_colour_hover: $colour_second_light;

$homepage_main_image_height_mobile: 350px;
$homepage_main_image_height: 450px;

$centre_bg_shorthand: center center / cover no-repeat;

$padding_homepage_title_bottom_xs:$padding-base-vertical;
$padding_homepage_title_bottom_sm:$homepage_main_image_height/6;

$intro_content_padding_bottom_xs:$padding-base-vertical*2;
$intro_content_padding_bottom_lg: $padding-base-vertical*2; /* careful to be above the fold */

$main_content_outer_container_top: $padding-base-vertical*2;
$main_content_outer_container_bottom: $padding-base-vertical*10;

$padding_article_listing_top:$padding-base-vertical*4;
$padding_article_listing_bottom:$padding-base-vertical*6;
$padding_listing_teaser_top:$padding-base-vertical*2;
$padding_listing_teaser_bottom:$padding-base-vertical*2;
$padding_listing_teaser_horizonthal:$padding-base-horizontal*2;
$padding_listing_teaser_col_padding:$padding-base-horizontal*2;
$padding_cta_bottom: $padding-base-vertical*2;
$padding_contact_top: $padding-base-vertical*2; /* font size in footer is 88% */
$padding_footer_social_top: $padding-base-vertical*2;
$padding_grid_nav_text: $padding-base-vertical*4;

$margin_left_cta_button: $padding-base-horizontal;



$news_border_top_style: 1px solid $colour_main;

$social_nav_size: 32px;

$linear_nav_height:100px;
$linear_nav_left_border:1px solid $colour_white;
$linear_nav_bg_tint:rgba(0,0,0,0.5);
$linear_nav_text_colour:$colour_white;


$grid_nav_font_size: $font-size-base*1.1;
$grid_nav_blur_height: ($padding_grid_nav_text*2) + $grid_nav_font_size;

$general_text_shadow: 0 0 10px rgba(0,0,0,0.5);
$general_transition: all 1s ease;

$font_weight_bold: 700;

$footer_hover_bg: transparentize($colour_white, 0.5);

$opacity_low: 0.3;


