
@import "variables.scss";

.title-container {
  position:absolute;
  left:-$grid-gutter-width/2; /* negative margin to go full width and counter gutter width */
  width:100%;
  bottom:$padding_homepage_title_bottom_xs;

  @media (min-width: $screen-sm) {
    bottom:$padding_homepage_title_bottom_sm;
  }
}

.title-container-outer {
  min-width:100%;
}

.title-bg {
  position: relative;
}

.title-bg-image {

  min-height: $homepage_main_image_height_mobile;

  @media (min-width: $screen-sm) {
    min-height: $homepage_main_image_height;
  }
}

.title-bg-image.small {

  min-height: $linear_nav_height;
}

.title {
  padding:$padding-base-vertical*4 $padding-base-horizontal*4;
}

/*
 * main section
 */
.intro-content {
  padding-bottom: $intro_content_padding_bottom_xs;
  background-color: $colour_main;

  @media (min-width: $screen-sm) {
    padding-bottom: $intro_content_padding_bottom_xs;
  }


  .column {
    min-height: $homepage_main_image_height_mobile;

    @media (min-width: $screen-sm) {
      min-height: $homepage_main_image_height;
    }
  }
}

.grid-gallery .grid-square {
  min-height: $homepage_main_image_height_mobile/2;

  @media (min-width: $screen-sm) {
    min-height: $homepage_main_image_height/2;
  }
}
body .text-content-outer-container {
  padding:$main_content_outer_container_top 0 $main_content_outer_container_bottom 0;
}

footer {
  position:relative;
  top:1px; /* solves a 1px border issue on the bottom of the footer */
}


@media (min-width: $screen-sm) and (orientation:landscape) {
    .col-md-4 {
        // standard size
    }
}

@media (max-width: $screen-sm) and (orientation:portrait) {
    .col-xs-portrait-6 {
         width:50% !important;
    }
    .col-xs-portrait-12 {
         width:100% !important;
    }
}

.call-to-action .btn {
  margin-left: $margin_left_cta_button;
}

.eyebrow {
  display:block;
}


footer {
   .contact {
    margin-top:$padding_contact_top;
    text-align: center;

    .btn {
      font-size: inherit;
    }
  }

  .paypal form {
    text-align: center;

    input {
      margin-left: 22px;
    }
  }
}
