
{% include header.html %}
<body>


    <header>

    {% include home-nav.html %}
    </header>
    <main>
      <div class="text-content-outer-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="intro-about">
                {{ content }}
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="listing teasers first">

                <h3>Latest Stories</h3>

                <p>If you have a story to suggest, please fill out our <a href="https://goo.gl/forms/FBUFHyFhVACWiQlp2">Google form</a></p>

                {% assign news = site.posts | where: 'master', true | sort: 'date' | reverse %}

                {% for post in site.categories['News'] limit:5 %}
                  <article class="teaser">
                    <header><h4>{{ post.title }}</h4></header>
                    <p class="body-content">{{ post.feature_text }}</p>
                    <p class="body-content"><a href="news-and-events.html#content-volunteer-2019">Read more</a></p>
                  </article>
                {% endfor %}

                <!--
                <article class="teaser">
                  <header><h4>Volunteer Content Writer Wanted!</h4></header>
                  <p class="body-content">We are looking for local volunteers to come forward and support the park and this website by helping to write articles and take photos. <a href="news-and-events.html#content-volunteer-2019">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>New Development Plan to be Resubmitted</h4></header>
                  <p class="body-content">We have heard from the developers that submitted a plan last year to build 57 houses on Cringle Road will be resubmitting their proposals in the near future. <a href="news-and-events.html#notification-redevelopment-2018">Read more - and sign up to get updates on this issue.</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Wild Awake Mindfulness Experience - Blog Post</h4></header>
                  <p class="body-content">On Monday 4th September, a small group of us met at Bowler St entrance to the park do an hour of mindfulness with Claire from Wild Awake Mindfulness... <a href="news-and-events.html#wildawakemindfulness-sept-2018">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Vandalism in the Forest School Area</h4></header>
                  <p class="body-content">At some point between Thursday 7th and Saturday the 9th June, vandals damaged the forest school area, where there is a clearing and log seats. The log seats were set fire to, and a number of trees were cut down, apparently for no reason, two oak trees and one birch... <a href="news-and-events.html#vandalism-forest-school-2018">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Wildlife is thriving</h4></header>
                  <p class="body-content">In the last few weeks there have been sightings of nightingales, herons, goldfinches and bullfinches, and that's not all! We had some exciting new visitors to the pond too... <a href="news-and-events.html#wildlife-march-2018">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Photos from the Bat Boxes event</h4></header>
                  <p class="body-content">In 2017 we held an event for the community to build bat boxes and to help children and adults alike connect to nature in the park. In a future session we will put up the bat boxes around the park and people will be able to see them around the park for years to come! The bats in the park are at risk and we are doing what we can to support them. <a href="news-and-events.html#bat-boxes-summary-jan-2018">See the pictures of the event</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Vote for us in the Aviva Community Fund!</h4></header>
                  <p class="body-content">The Friends of Highfield Country Park are bidding for funds to create a bee sanctuary in the park. Our idea is to create a Bee sanctuary garden in Highfield, one that all can enjoy and use as a walk through, and a place to sit and soak up the sun in the beautiful garden. <a href="https://www.avivacommunityfund.co.uk/voting/project/view/17-3871">Read more and vote for us on the Aviva website!</a></p>
                </article>
                <article class="teaser">
                  <header><h4>Plans to Develop on Highfield Country Park Rejected </h4></header>
                  <p>Plans were rejected by the council that proposed developing 57 houses on Cringle Road by Highfield Country Park.<a href="news-and-events.html#development-oct-17">(Read more)</a></p><p>
                </article>

                <article class="teaser">
                  <header><h4>New Bins and a Bench</h4></header>
                  <p class="body-content">Two of our volunteers put in bins and a new bench to help improve the litter situation and give people a place to relax by the pond.<a href="news-and-events.html#bins-bench-oct-17">(Read more)</a></p>
                </article>
              -->

              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="listing teasers second">

                <h3>Upcoming Events</h3>

                <p>If you are interested in putting an event on, please get in touch with us on Facebook or Twitter, or complete our <a href="/volunteer.html">Volunteering form</a>.</p>


                {% assign events = (site.posts | where: "category", "Event" ) %}


                <!-- base event
                  <article class="teaser">
                    <header><h4>TITLE - DATE</h4></header>
                    <p class="body-content">DESCRIPTION <a href="news-and-events.html#reference">LINK</a></p>
                    <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=">ADDRESS</a></span>
                    <span class="eyebrow"><label>Time:</label> TIME</span>
                    <span class="eyebrow"><label>Date:</label> DATE</span>
                    <span class="eyebrow"><label>Contact:</label> CONTACT</span>
                  </article>
                -->

                {% for post in events limit:5 %}
                  <article class="teaser">
                    <header><h4>{{ post.title }}</h4></header>
                    <p class="body-content">{{ post.feature_text }}</p>
                    <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=">{{ post.location }} </a></span>
                    <span class="eyebrow"><label>Time:</label> {{ post.event_datetime }} </span>
                    <span class="eyebrow"><label>Date:</label> {{ post.event_datetime }}</span>
                    <span class="eyebrow"><label>Contact:</label> {{ post.event_contact }}</span>
                    <p class="body-content"><a href="{{ post.url }}">Read more</a></p>
                  </article>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  <!-- partials/footer.twig -->
<footer>
     <div class="footer" id="footer">
         <div class="container">
             <div class="row">

                <div class="col-xs-12 contact">



                </div>
             </div>
             <div class="row">
                 <div class="col-md-2 col-md-offset-1 col-xs-4">
                     <ul class="nav">
                         <li> <a href="index.html"> Home </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="about.html"> About </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="volunteer.html" data-toggle="tooltip" data-placement="bottom"
       title=""> Volunteering </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-6">
                     <ul class="nav">
                         <li> <a href="news-and-events.html"> News</a> </li>
                     </ul>
                 </div>
                 <div class="col-md-3 col-xs-6">
                     <ul class="nav">
                         <li> <a href="map.html"> Map </a> </li>
                     </ul>
                 </div>
             </div>

             <div class="row">
               <div class="col-xs-12">
                   <ul class="social-nav">


                       <li> <a href="https://www.facebook.com/HighfieldCountryPark"> <i class="fa fa-facebook">   </i> </a> </li>
                       <li> <a href="https://twitter.com/HighfieldCP_Lev"> <i class="fa fa-twitter">   </i> </a> </li>
                       <li> <a href="https://github.com/ajlee/highfield-country-park-prototype"> <i class="fa fa-github">   </i> </a> </li>
                       <li> <a href="https://www.instagram.com/highfieldcountrypark/"> <i class="fa fa-instagram">   </i> </a> </li>

                   </ul>
                   <!--
                   <div class="paypal">
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                       <input type="hidden" name="cmd" value="_s-xclick">
                       <input type="hidden" name="hosted_button_id" value="ML99Y4HM2GKP2">
                       <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                       <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                     </form>
                   </div>
                   -->
               </div>
             </div>

         </div>
     </div>
  </footer>



  <!-- all pages -->
  <script type="text/javascript" src="/assets/js/vendor/leaflet/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- forms & validation -->
  <script type="text/javascript" src="/assets/js/vendor/bootstrap-validator/validator.js"></script>


    <!-- OSMap -->
    <link rel="stylesheet" type="text/css" href="/assets/js/vendor/leaflet/leaflet.css" />
    <script type="text/javascript" src="/assets/js/vendor/leaflet/leaflet.js"></script>


  <!-- custom scripts - gulp js command combines all custom scripts into one -->
  <script type="text/javascript" src="/assets/js/scripts.js"></script>

  <!-- end of partials/footer.twig -->

  </body>
</html>
