
{% include header.html %}
<body>


    <header>

    {% include home-nav.html %}
    </header>
    <main>
      <div class="text-content-outer-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="intro-about">
                {{ content }}
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="listing teasers first">

                <h3>Latest Stories</h3>

                {% assign news = site.posts | where: "categories", "News" %}

                {% for post in news limit:5 %}
                  <article class="teaser">
                    <header><h4>{{ post.title }}</h4></header>
                    <p class="body-content">{{ post.feature_text }}</p>
                    <p class="body-content"><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
                  </article>
                {% endfor %}

              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="listing teasers second">

                <h3>Upcoming Events</h3>

                {% assign events = site.posts | where: "categories", "Event" %}

                <!-- base event
                  <article class="teaser">
                    <header><h4>TITLE - DATE</h4></header>
                    <p class="body-content">DESCRIPTION <a href="news-and-events.html#reference">LINK</a></p>
                    <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=">ADDRESS</a></span>
                    <span class="eyebrow"><label>Time:</label> TIME</span>
                    <span class="eyebrow"><label>Date:</label> DATE</span>
                    <span class="eyebrow"><label>Contact:</label> CONTACT</span>
                  </article>
                -->

                {% for post in events limit:5 %}
                  <article class="teaser">
                    <header><h4>{{ post.title }}</h4></header>
                    <p class="body-content">{{ post.feature_text }}</p>
                    <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=">{{ post.location }} </a></span>
                    <span class="eyebrow"><label>Time:</label> {{ post.event_datetime }} </span>
                    <span class="eyebrow"><label>Date:</label> {{ post.event_datetime }}</span>
                    <span class="eyebrow"><label>Contact:</label> {{ post.event_contact }}</span>
                    <p class="body-content"><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
                  </article>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  <!-- partials/footer.twig -->
<footer>
     <div class="footer" id="footer">
         <div class="container">
             <div class="row">

                <div class="col-xs-12 contact">



                </div>
             </div>
             <div class="row">
                 <div class="col-md-2 col-md-offset-1 col-xs-4">
                     <ul class="nav">
                         <li> <a href="index.html"> Home </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="about.html"> About </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="volunteer.html" data-toggle="tooltip" data-placement="bottom"
       title=""> Volunteering </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-6">
                     <ul class="nav">
                         <li> <a href="news-and-events.html"> News</a> </li>
                     </ul>
                 </div>
                 <div class="col-md-3 col-xs-6">
                     <ul class="nav">
                         <li> <a href="map.html"> Map </a> </li>
                     </ul>
                 </div>
             </div>

             <div class="row">
               <div class="col-xs-12">
                   <ul class="social-nav">


                       <li> <a href="https://www.facebook.com/HighfieldCountryPark"> <i class="fa fa-facebook">   </i> </a> </li>
                       <li> <a href="https://twitter.com/HighfieldCP_Lev"> <i class="fa fa-twitter">   </i> </a> </li>
                       <li> <a href="https://github.com/ajlee/highfield-country-park-prototype"> <i class="fa fa-github">   </i> </a> </li>
                       <li> <a href="https://www.instagram.com/highfieldcountrypark/"> <i class="fa fa-instagram">   </i> </a> </li>

                   </ul>
                   <!--
                   <div class="paypal">
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                       <input type="hidden" name="cmd" value="_s-xclick">
                       <input type="hidden" name="hosted_button_id" value="ML99Y4HM2GKP2">
                       <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                       <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                     </form>
                   </div>
                   -->
               </div>
             </div>

         </div>
     </div>
  </footer>



  <!-- all pages -->
  <script type="text/javascript" src="/assets/js/vendor/leaflet/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- forms & validation -->
  <script type="text/javascript" src="/assets/js/vendor/bootstrap-validator/validator.js"></script>


    <!-- OSMap -->
    <link rel="stylesheet" type="text/css" href="/assets/js/vendor/leaflet/leaflet.css" />
    <script type="text/javascript" src="/assets/js/vendor/leaflet/leaflet.js"></script>


  <!-- custom scripts - gulp js command combines all custom scripts into one -->
  <script type="text/javascript" src="/assets/js/scripts.js"></script>

  <!-- end of partials/footer.twig -->

  </body>
</html>
